<h1>You lost the <%= @player_card.description %> card!</h1>
<img src="<%= @player_card.image %>">

<p>
You now have <%= session[:player].count %> cards.
</p>
<p>
<a href='/play'>Play next round</a>
</p>
